$header-color: #4A04A3;
$subhead-color: #7F7979; //could be a bold blue
$text-color: #393D3F;
$emph-color: #FFD151;
$background-color: #F1FFFA;


$head-font: 'Heebo', sans-serif;
$text-font: 'Montserrat', sans-serif;
