.footer {
  padding: 20px;
  margin-top: 30px;

  h2 {
    color: $subhead-color;
    text-shadow: 2px 2px white;
    font-size: 30px;
  }

  button {

  }

  ul {
    display: flex;
    justify-content: center;

    li {
      flex-wrap: wrap;
      list-style: none;
      padding: 2px 2px;
      margin: 0 auto;
    }
  }
}
