.title, .footer {
  background-image: url('https://images.unsplash.com/photo-1505492537188-de71a52767cb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b4bbefaa3c24a65fcf0d20ec3872fe1a&auto=format&fit=crop&w=600&q=60');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px;
  margin: 10px auto;
  width: auto;

  a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: $emph-color;
    font-size: 20px;
    font-weight: 900px;
    }
    a:hover {
      color: $light-color;
      text-decoration: none;
    }


  h1 {
    font-weight: 900;
    text-decoration: none;
    font-size: 160px;
    color: $emph-color;
    padding: 0px 5px 20px 5px;
  }

  .app-nav {

    margin-top: -50px;
    margin-bottom: 10px;
  }
  header {

    .navbar {
      justify-content: center;

        ul {
          list-style-type: none;
          overflow: hidden;
          padding-left: 0px;


          li {
            float: left;
            text-align: center;

        	}
  	    }
      }
    }
  }
